---
const options = {
  nextauth: "NextAuth",
  prisma: "Prisma",
  tailwind: "Tailwind CSS",
  trpc: "tRPC",
};

const { buttonText = "Continue" } = Astro.props;
---

<script>
  const form = document.getElementById("componentForm") as HTMLFormElement;
  const searchParams = new URLSearchParams(location.search.slice(1));
  const selected = searchParams.getAll("conf");
  form
    .querySelectorAll("input")
    .forEach((input) => (input.checked = selected.includes(input.value)));
  document.querySelectorAll<HTMLElement>("*[data-components]").forEach((el) => {
    if (
      !el.dataset.components
        ?.split(" ")
        .some((components) =>
          components.split("+").every((option) => selected.includes(option)),
        )
    )
      el.style.display = "none";
  });
</script>

<form
  method="get"
  id="componentForm"
  class="mb-4 w-full rounded border border-t3-purple-300 p-4 text-lg"
>
  {
    Object.entries(options).map(([code, name]) => (
      <div>
        <input
          id={code}
          type="checkbox"
          name="conf"
          value={code}
          class="h-4 w-4"
        />
        <label for={code}>{name}</label>
      </div>
    ))
  }
  <button
    class="mt-2 rounded-md bg-t3-purple-400 px-4 py-1 text-default transition-colors hover:bg-t3-purple-500 dark:bg-t3-purple-100 dark:hover:bg-t3-purple-50"
  >
    {buttonText}
  </button>
</form>
