---
import type { Frontmatter } from "../../config";

export interface Props {
  sidebarEntries: { text: string; link: string }[];
  frontmatter: Frontmatter;
  files: Record<string, any>[];
}
const { sidebarEntries, frontmatter, files } = Astro.props;
---

<p>{frontmatter.description}</p>
<ul class="grid w-full grid-cols-1 gap-4 p-0 md:grid-cols-2 lg:grid-cols-3">
  {
    sidebarEntries.map(({ text, link }) => {
      const frontmatter = files.find((file) => file.url === `/${link}`)
        ?.frontmatter as Frontmatter;

      return (
        <li
          class="dark:border-t3-purple-200/20 dark:hover:border-t3-purple-200/50 m-0 w-full rounded border p-4"
          style={{ "list-style-type": "none" }}
        >
          <a href={`/${link}`}>{text}</a>
          {frontmatter?.description && (
            <p class="text-sm text-gray-500 dark:text-gray-400">
              {frontmatter.description}
            </p>
          )}
        </li>
      );
    })
  }
</ul>
