---
import type { MarkdownHeading } from "astro";
import PageContent from "../components/blog/pageContent.astro";
import Footer from "../components/footer/footer.astro";
import HeadCommon from "../components/headCommon.astro";
import HeadSEO from "../components/headSeo.astro";
import LeftSidebar from "../components/navigation/leftSidebar.astro";
import Navbar from "../components/navigation/navbar.astro";
import RightSidebar from "../components/navigation/rightSidebar.astro";
import * as CONFIG from "../config";
import "../styles/global.css";

export interface Props {
  frontmatter: CONFIG.Frontmatter;
  headings: MarkdownHeading[];
}

const { frontmatter, headings } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, "")}.md`;
const githubEditUrl = `${CONFIG.GITHUB_EDIT_URL}/${currentFile}`;
---

<html
  dir={frontmatter.dir ?? "ltr"}
  lang={frontmatter.lang ?? "en-us"}
  class="initial"
>
  <head>
    <HeadCommon />
    <HeadSEO frontmatter={frontmatter} canonicalUrl={canonicalURL} />
    <title>
      {frontmatter.title} • {CONFIG.SITE.title}
    </title>
  </head>

  <body class="bg-base">
    <div class="bg-base fixed top-0 w-full z-50 shadow-sm shadow-t3-purple-50">
      <Navbar />
    </div>
    <main
      class="bg-base mt-20 justify-items-start xl:justify-items-center grid grid-cols-1 sm:grid-cols-6 md:grid-cols-12 relative gap-4 transition-colors"
    >
      <aside
        id="grid-left"
        title="Site Navigation"
        class="hidden sticky h-fit top-20 z-10 sm:w-screen md:w-full md:flex md:col-span-4 lg:col-span-3 xl:col-span-2 w-full transition-colors"
      >
        <LeftSidebar currentPage={currentPage} />
      </aside>
      <div
        class="col-span-1 sm:col-span-6 md:col-span-8 lg:col-span-6 xl:col-span-8 w-full max-w-screen-md"
      >
        <PageContent
          frontmatter={frontmatter}
          headings={headings}
          githubEditUrl={githubEditUrl}
        >
          <slot />
        </PageContent>
      </div>
      <aside
        id="grid-right"
        title="Table of Contents"
        class="hidden sticky h-fit top-20 md:block md:col-span-2 lg:col-span-3 xl:col-span-2 justify-self-start"
      >
        <RightSidebar headings={headings} githubEditUrl={githubEditUrl} />
      </aside>
    </main>
    <Footer path={currentFile} isBlog={true} />
  </body>
</html>
