---
import type { MarkdownHeading } from "astro";
import clsx from "clsx";
import PageContent from "../components/docs/pageContent.astro";
import Footer from "../components/footer/footer.astro";
import HeadCommon from "../components/headCommon.astro";
import HeadSEO from "../components/headSeo.astro";
import LeftSidebar from "../components/navigation/leftSidebar.astro";
import Navbar from "../components/navigation/navbar.astro";
import RightSidebar from "../components/navigation/rightSidebar.astro";
import * as CONFIG from "../config";
import "../styles/global.css";
import "@fontsource/inter/variable.css";

export interface Props {
  frontmatter: CONFIG.Frontmatter;
  headings: MarkdownHeading[];
}

const { frontmatter, headings } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;

const currentFile = `src/pages${currentPage.replace(/\/$/, "")}.${
  frontmatter.isMdx ? "mdx" : "md"
}`;

const githubEditUrl = `${CONFIG.GITHUB_EDIT_URL}/${currentFile}`;
const asideWidth = "72";
---

<html
  dir={frontmatter.dir ?? "ltr"}
  lang={frontmatter.lang ?? "en-us"}
  class="initial"
>
  <head>
    <HeadCommon />
    <HeadSEO frontmatter={frontmatter} canonicalUrl={canonicalURL} />
    <title>
      {frontmatter.title} • {CONFIG.SITE.title}
    </title>
  </head>

  <body class="bg-default">
    <div class="bg-default sticky top-0 w-full z-50">
      <Navbar />
    </div>
    <main>
      <aside
        id="grid-left"
        title="Site Navigation"
        class={clsx(
          "hidden fixed bg-default z-40 bg-base inset-0 top-16 t3-scrollbar overflow-hidden md:bottom-2 md:overflow-auto md:block md:w-72 ",
          `w-${asideWidth}`,
        )}
      >
        <LeftSidebar currentPage={currentPage} />
      </aside>
      <div class="p-4 md:ml-72 lg:mr-72 flex flex-col items-center">
        <PageContent
          frontmatter={frontmatter}
          headings={headings}
          githubEditUrl={githubEditUrl}
        >
          <slot />
        </PageContent>
        <Footer path={currentFile} isBlog={true} />
      </div>
      <aside
        id={"grid-right"}
        title="Table of Contents"
        class={clsx(
          "px-8 hidden lg:block fixed right-0 top-20 bottom-8",
          `w-${asideWidth}`,
        )}
      >
        <RightSidebar headings={headings} githubEditUrl={githubEditUrl} />
      </aside>
    </main>
  </body>
</html>
