---
import type { MarkdownHeading } from "astro";
import PageContent from "../components/docs/pageContent.astro";
import Footer from "../components/footer/footer.astro";
import HeadCommon from "../components/headCommon.astro";
import HeadSEO from "../components/headSeo.astro";
import LeftSidebar from "../components/navigation/leftSidebar.astro";
import Navbar from "../components/navigation/navbar.astro";
import RightSidebar from "../components/navigation/rightSidebar.astro";
import * as CONFIG from "../config";
import "../styles/global.css";
import "../styles/accessibility.css";
import "@fontsource/inter/variable.css";
import MoreMenu from "../components/navigation/moreMenu.astro";
import JumpToContent from "../components/accessibility/jumpToContent.astro";

export interface Props {
  frontmatter: CONFIG.Frontmatter;
  headings: MarkdownHeading[];
}

const { frontmatter, headings } = Astro.props;
const currentPage = Astro.url.pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, "")}.${
  frontmatter.isMdx ? "mdx" : "md"
}`;

const githubEditUrl = `${CONFIG.GITHUB_EDIT_URL}/${currentFile}`;
---

<html
  dir={frontmatter.dir ?? "ltr"}
  lang={frontmatter.lang ?? "en-us"}
  class="initial"
>
  <head>
    <HeadCommon />
    <HeadSEO frontmatter={frontmatter} />
    <title>
      {frontmatter.title} • {CONFIG.SITE.title}
    </title>

    <script is:inline>
      const html = document.documentElement;
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();
      if (theme === "light") {
        html.classList.remove("dark");
        html.classList.add("light");
      } else {
        html.classList.add("dark");
        html.classList.remove("light");
      }
    </script>

    <script type="module" defer>
      main();
      function main() {
        const section = document.querySelector("section.w-full");

        const headings = section.querySelectorAll("h1, h2, h3, h4, h5");

        headings.forEach((heading) => {
          const link = document.createElement("a");
          link.href = `#${heading.id}`;
          link.classList.add("heading-link");
          link.classList.add("heading-link--hidden---effects");
          link.innerHTML = heading.innerHTML;
          heading.innerHTML = "";
          heading.appendChild(link);

          heading.addEventListener("click", () => {
            navigator.clipboard.writeText(
              `${window.location.href}#${heading.id}`,
            );
          });
        });
      }
    </script>
  </head>

  <body
    class="bg-default min-h-screen flex flex-col items-center transition-colors duration-300"
  >
    <JumpToContent />
    <div
      class="bg-default sticky top-0 w-full max-h-full z-40 transition-colors duration-300"
    >
      <Navbar />
    </div>
    <main
      class="flex-1 grid grid-cols-1 md:grid-cols-[250px_auto] lg:grid-cols-[250px_auto_250px] gap-4 w-full max-w-7xl"
    >
      <nav
        id="grid-left"
        title="Site Navigation"
        class="bg-default t3-scrollbar hidden md:flex flex-col justify-start sticky col-span-1 w-full h-auto max-h-[calc(100vh-80px)] md:max-h-[calc(100vh-96px)] top-20 pt-4 md:pt-0 md:top-24 transition-colors duration-300 overflow-y-auto"
      >
        <LeftSidebar currentPage={currentPage} />
      </nav>

      <div class="w-full min-h-full col-span-1 flex flex-col pt-5" id="content">
        <PageContent frontmatter={frontmatter}>
          <slot />
        </PageContent>
        <nav class="flex lg:hidden mx-3">
          <MoreMenu editHref={githubEditUrl} />
        </nav>
        <Footer path={currentFile} isBlog={true} />
      </div>
      <aside
        id="grid-right"
        title="Table of Contents"
        class="t3-scrollbar hidden lg:mb-12 lg:flex lg:flex-col lg:justify-start sticky col-span-1 w-full h-auto max-h-[calc(100vh-100px)] pr-4 top-[100px]"
      >
        <RightSidebar
          headings={headings}
          githubEditUrl={githubEditUrl}
          title={frontmatter.title}
        />
      </aside>
    </main>
  </body>
</html>
